
<div class="logo">
<img src="assets/img/fitbud.png">
</div>

<div class="ui grid container">
    
    <div class="column">

      

      <form>
        <div class="centerText">
          <h1>Sign In </h1>
        </div>
        <label>
          <input name="username" type="text" placeholder="Username" />
        </label>
        <label>
          <input name="password" type="password" placeholder="Password" autocomplete="off" />

        </label>
        <button class="nav-item nav-link-edit" (click)="goToPage('dashboard')">Login</button>
        <router-outlet></router-outlet>
        
      </form>
    </div>
  
</div>

